@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~react-toastify/dist/ReactToastify.min.css";

:root {
  --background-image-main: linear-gradient(180deg, #9adcff, #53c7ff);
  --background-image-top: linear-gradient(180deg, #72ceff, #30c0fe);
  --bg-footer-theme-web: linear-gradient(180deg, #91d9ff, #55c8ff);
  --bg-login-btn: linear-gradient(180deg, #ed2530, #ed2530);
  --bg-btn-red: linear-gradient(180deg, #ff7f7e, #ff605c, #fe2f2d);
  --bg-signIn: linear-gradient(180deg, #80d3fb, #28b1fd, #0377be);
  --bg-resgister-button: linear-gradient(180deg, #59c6ff, #73cfff, #26bcff);
}

* {
  font-family: "Prompt", sans-serif;
}

body {
  transition: all 0.3s;
}

.no-scroll {
  overflow: hidden !important;
}

.header {
  background: var(--background-image-main);
  border-bottom: 3px solid #53c7ff !important;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  box-shadow: 0 0 10px #000;
}

.btn-red {
  @apply w-full p-2 rounded-3xl text-white;
  background: var(--bg-btn-red) !important;
}

.tx-marquee::after {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 1rem;
  height: 100%;
  background-color: white;
}

.Toastify__toast-container {
  width: auto !important;
  min-width: 334px;
}

.Toastify .Toastify__toast {
  @apply rounded-lg max-md:w-[75%] max-md:mx-auto max-sm:mt-4;
}

.Toastify__toast-theme--colored.Toastify__toast--error {
  background: #ef476f !important;
}

.Toastify__toast-theme--colored.Toastify__toast--success {
  background: #06d6a0 !important;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}
.animatedFadeInUp {
  opacity: 0;
}
.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

@keyframes fadeInUp {
  0% {
    transform: translate3d(0, 40px, 0);
  }
  to {
    transform: translateZ(0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    transform: translate3d(0, 40px, 0);
  }
  to {
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translatex(-100px);
    -moz-transform: translatex(-100px);
    -o-transform: translatex(-100px);
    transform: translate(-100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translate(0);
  }
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translatex(0, 40px, 0);
    -moz-transform: translatex(0, 40px, 0);
    -o-transform: translatex(0, 40px, 0);
    transform: translatex(0, 40px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translatex(0, 0, 0);
    -moz-transform: translatex(0, 0, 0);
    -o-transform: translatex(0, 0, 0);
    transform: translatex(0, 0, 0);
  }
}

@-moz-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translatex(0, 40px, 0);
    -moz-transform: translatex(0, 40px, 0);
    -o-transform: translatex(0, 40px, 0);
    transform: translatex(0, 40px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translatex(0, 0, 0);
    -moz-transform: translatex(0, 0, 0);
    -o-transform: translatex(0, 0, 0);
    transform: translatex(0, 0, 0);
  }
}

.in-left {
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-duration: 0.5s;
  animation-delay: 0.5s;
}

.swal2-show {
  animation: swal2-show 0.3s;
}
.swal2-hide {
  animation: swal2-hide 0.15s forwards;
}
@keyframes swal2-show {
  0% {
    transform: scale(0.7);
  }
  45% {
    transform: scale(1.05);
  }
  80% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes swal2-hide {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.5);
    opacity: 0;
  }
}

.shake-img-random {
  animation: heartbeat 5s ease-in-out infinite both;
}
@keyframes heartbeat {
  0% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.96);
    transform: scale(0.96);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.97);
    transform: scale(0.97);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(0.96);
    transform: scale(0.96);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
